<div class="menu-fixed" style="transform: translateX(0px);">
  <div class="menu-fixed-wrapper">

    <div class="menu-title">
      <a href="#">
        <svg class="menu-title-icon" viewBox="0 0 75.498 12.42">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shift-small"></use>
        </svg>
      </a>
    </div>

    <ul class="menu-fixed-list">
      <li class="menu-fixed-item">
        <button class="menu-fixed-btn js-side-open">Quero Palestrar</button>
      </li>
    </ul>

  </div>
</div>